<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9068">  <td>18/06/08 14:09:24</td>   <td>0</td> <td title="&gt;&gt;DriverInstance.driverInstance()[pri:0, instance:com.nextgen.WEB.Login@f4168b8]">&gt;&gt;driverInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@302870502</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>18/06/08 14:09:36</td>   <td>11792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginGEB()[pri:1, instance:com.nextgen.WEB.Login@f4168b8]">loginGEB</td> 
  <td>main@302870502</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/06/08 14:09:51</td>   <td>27219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TearDownScript.tearDown(org.testng.ITestResult)[pri:0, instance:com.nextgen.WEB.Login@f4168b8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@302870502</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/08 14:09:52</td>   <td>28016</td> <td title="&lt;&lt;DriverInstance.closeBrowser()[pri:0, instance:com.nextgen.WEB.Login@f4168b8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@302870502</td>   <td></td> </tr>
</table>
